<!doctype html>
<head>
    <title>Query</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="query">
    <form action="{{ url_for('form') }}" class="query_form">
        <div class="template_query">
            <h1 style="text-align: center"> Find objects of simillar properties: </h1>
            <table style="border: 1px solid black">
                {% for field in fields %}
                    <tr>
                        <td><label for="param-{{ field }}">{{ field }}</label></td>
                        <td><input type="text"
                                   id="param-{{ field }}"
                                   name="param-{{ field }}"
                                    {% if 'param-' + field in template.keys() %}
                                        value="{{ template['param-' + field] }}"
                                    {% endif %}></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="filter_query" >
            <h1  style="text-align: center"> Filter results down to: </h1>
            <table style="border: 1px solid black">
            <tr>
                <td><label for="filters-http://schema.org/datePublished">http://schema.org/datePublished</label></td>
                <td><input id="filters-http://schema.org/datePublishedFrom"
                           name="filters-http://schema.org/datePublishedFrom"
                           {% if 'filters-http://schema.org/datePublishedFrom' in template.keys() %}
                                value="{{ template['filters-http://schema.org/datePublishedFrom'] }}"
                           {% else %}
                                placeholder="From"
                           {% endif %}
                            style="width: 84px">
                    <input id="filters-http://schema.org/datePublishedTo"
                           name="filters-http://schema.org/datePublishedTo"
                           {% if 'filters-http://schema.org/datePublishedTo' in template.keys() %}
                                value="{{ template['filters-http://schema.org/datePublishedTo'] }}"
                           {% else %}
                                placeholder="To"
                           {% endif %}
                            style="width: 84px"></td>
            </tr>
            <tr>
                <td><label for="filters-http://schema.org/composer">http://schema.org/composer</label></td>
                <td><input id="filters-http://schema.org/composer"
                           name="filters-http://schema.org/composer"
                           {% if 'filters-http://schema.org/composer' in template.keys() %}
                               value="{{ template['filters-http://schema.org/composer'] }}"
                           {% endif %}></td>
            </tr>
            <tr>
                <td><label for="filters-http://schema.org/isPartOf">http://schema.org/isPartOf</label></td>
                <td><input id="filters-http://schema.org/isPartOf"
                           name="filters-http://schema.org/isPartOf"
                           {% if 'filters-http://schema.org/isPartOf' in template.keys() %}
                               value="{{ template['filters-http://schema.org/isPartOf'] }}"
                           {% endif %}></td>
            </tr>
            <tr>
                <td><label for="filters-http://schema.org/genre">http://schema.org/genre</label></td>
                <td><input id="filters-http://schema.org/genre" name="filters-http://schema.org/genre"
                           {% if 'filters-http://schema.org/genre' in template.keys() %}
                               value="{{ template['filters-http://schema.org/genre'] }}"
                           {% endif %}></td>
            </tr>
            <tr>
                <td><label for="filters-http://schema.org/inLanguage">http://schema.org/inLanguage</label></td>
                <td><input id="filters-http://schema.org/inLanguage" name="filters-http://schema.org/inLanguage"
                           {% if 'filters-http://schema.org/inLanguage' in template.keys() %}
                               value="{{ template['filters-http://schema.org/inLanguage'] }}"
                           {% endif %}></td>
            </tr>
            <tr>
                <td><label for="filters-http://schema.org/author">http://schema.org/author</label></td>
                <td><input id="filters-http://schema.org/author" name="filters-http://schema.org/author"
                           {% if 'filters-http://schema.org/author' in template.keys() %}
                               value="{{ template['filters-http://schema.org/author'] }}"
                           {% endif %}></td>
            </tr>
        </table>
        </div>
        <div class="save_query">
            <br>
            <div>
                <label for="option-save">Save template?</label>
                <input id="option-save" type="checkbox" name="option-save">
            </div>
            <input type="submit" value="Query!" formmethod="post" >
        </div>
    </form>
</div>
<div class="load_template_query">
    <form method=POST enctype="multipart/form-data">
        <input type="file" id="saved-template" name="file">
        <input type="submit" value="Load template" formmethod="post">
    </form>
</div>
</body>
