<!doctype html>
<head>
    <title>Query</title>
</head>
<body>
    <form>
        <table style="border: 1px solid black">
            {% for field in fields %}
                <tr>
                    <td><label for="param-{{ field }}">{{ field }}</label></td>
                    <td><input type="text" id="param-{{ field }}" name="param-{{ field }}"></td>
                </tr>
            {% endfor %}
        </table>
        <label for="filter-label"></label><input id="filter-label" name="filter-label">
        <input type="submit" value="Query!" formmethod="post">
    </form>
</body>
