<!doctype html>
<head>
    <title>Query</title>
</head>
<body>
    <form>
        <table style="border: 1px solid black">
            {% for field in fields %}
                <tr>
                    <td><label for="{{ field }}">{{ field }}</label></td>
                    <td><input type="text" id="{{ field }}" name="{{ field }}"></td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="Query!" formmethod="post">
    </form>
</body>
